nav>ul{
    display: flex;
}
nav li{

    list-style: none;
    margin-left: 1em;
}
nav li a{
    text-decoration: none;
    color: #000;
}
.dropdown{
    position: absolute;
    background-color: rgb(141 233 186);
    display: none;
}
nav>ul>li:hover>.dropdown{
    display: block;
}
nav>ul>li:hover>.dropdown.mega-menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
}
.mega-menu h3{
    color: goldenrod;
    font-size: 16px;
    margin-bottom: 0;
}